Package: com.lilacvibes.ytstockvolumehud
Name: YTStockVolumeHUD
Depends: mobilesubstrate, firmware (>= 13)
Version: 1.0
Architecture: iphoneos-arm
Description: Replaces YouTube's volume HUD with the stock volume HUD
Maintainer: lilacvibes
Author: lilacvibes
Section: Tweaks
